
body {
    background-color: #16191f;
    color: #e5e5e5;
}

.main {
    display: grid;
    grid-template-columns: 40% 60%;
}

.layer-wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.layer-wrap > canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

.palette_list {
    display: grid;
    font-size: 2em;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
}

.editor,
.editor-label {
    color: #e5e5e5;
}

.editor-label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.5em;
}

.editor {
    width: 90%;
    height: 640px;
    padding: 8px 10px;
    border: none;
    border-radius: 25px;
    background-color: #24282e;
    color: #e5e5e5;
    font-size: 1em;
    line-height: 1.5;
}

.editor:focus{
    outline: 1px solid #fff;
}

.editor::placeholder {
    color: rgba(255,255,255,.5);
}
